{
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "jsx": true,
        "useJSXTextNode": true
    },
    "extends": [
        "plugin:@typescript-eslint/recommended",
        "prettier",
        "prettier/@typescript-eslint"
    ],
    "plugins": [
        "airbnb",
        "plugin:@typescript-eslint/recommended",
        "react-hooks"
    ]
}
